<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tomerbu.edu.lec8takingphotos">


<!--    READ AND WRITE TO ALL YOUR FILES IN THE SD CARD   -->
<!--    READ ALL PHOTOS OF THAT USER     -->
<!--    Pick a single image -->
<!--    -->

<!--    Don't be that app -->



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        Share Files with other Apps -->
<!--        the authority is the address of the file provider-->
<!--        the address of the files edu.temerbu/image.jpg-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="tomerbu.edu.lec8takingphotos.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>